html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 320px) {
  html,
  body,
  header,
  .view {
    margin-top: 1em;
    height: 1000px;
  }
  .social {
    margin-left: 0.2em !important;
  }
  .menu {
    margin-left: 0.2em !important;
    font-size: medium;
  }
  .company-name {
    font-size: 1.6em !important;
    margin-right: 0.1em;
  }
}

@media (min-width: 330px) and (max-width: 559px) {
  html,
  body,
  header,
  .view {
    margin-top: 2em;
    height: 850px;
  }
  .social {
    margin-left: 0.2em !important;
  }
  .menu {
    margin-left: 0.2em !important;
    font-size: medium;
  }
  .company-name {
    font-size: 1.6em !important;
    margin-right: 0.1em;
  }
}

@media (min-width: 560px) and (max-width: 780px) {
  html,
  body,
  header,
  .view {
    height: 900px;
  }
  .menu {
    margin-left: 1em !important;
    font-size: large;
  }
  .caption {
    font-size: 2em;
  }
  .company-name {
    font-size: 1em;
    margin-right: 0.1em;
  }
  .social {
    margin-left: 1em !important;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
  .menu {
    margin-left: 1.2em !important;
    font-size: large;
  }
  .social {
    margin-left: 1.2em !important;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 700px;
  }
  .navbar:not(.top-nav-collapse) {
    background: #1c2331 !important;
  }
  .menu {
    margin-left: 1.5em !important;
    font-size: large;
  }
  .social {
    margin-left: 1.5em !important;
  }
}

@media (min-width: 851px) and (max-width: 1024px) {
  html,
  body,
  header,
  .view {
    height: 1160px;
  }
  .social {
    display: none;
  }
  .menu {
    margin-left: 2em !important;
  }
  .menu-spacing {
    margin-right: 1em !important;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  html,
  body,
  header,
  .view {
    height: 800px;
  }
  .menu {
    margin-left: 2.5em !important;
  }
  .menu-spacing {
    margin-right: 1em !important;
  }
}

@media (min-width: 1281px) {
  html,
  body,
  header,
  .view {
    height: 820px;
  }
  .company-name {
    font-size: 2.5em !important;
    margin-right: 1em;
    margin-left: 1em;
  }
  .menu {
    margin-left: 4em !important;
    font-size: x-large;
  }
  .menu-spacing {
    margin-right: 1.5em !important;
  }
}

.social {
  /* */
}
.social li .fab:hover {
  transition: 1s;
  transform: scale(1.5);
  color: #ddd;
}
.social li .fab {
  transition: 0.9s;
}
.menu {
  font-size: x-large;
  margin-left: 4em;
}
.caption {
  padding-top: 2em;
  font-size: 4em;
}

.footer-caption {
  font-size: 2em;
  padding-top: 1em;
}
.company-name {  
  font-size: 2em;
  margin-right: 0.1em;
}

.menu-spacing {
  margin-right: 1.5em;
}
